params.scratch = true

// Process setting

process {

  // Global cluster parameters
  cpus = { check_max( 1 * task.attempt, 'cpus' ) }
  memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  time = { check_max( 2.h * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus in [143,137,140,7] ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
 
  // Specific cluster parameters for each process

  withLabel: 'multiqc' {
	container = "docker://quay.io/biocontainers/multiqc:1.11--pyhdfd78af_0"
  }
  withLabel: 'fastqc' {
	container = "docker://quay.io/biocontainers/fastqc:0.11.9--hdfd78af_1"
  }  

  withName: DADA2_RUEHLEMANN {
	cpus =  20
	time = { check_max( 3.h * task.attempt, 'time' ) }
	memory = { check_max( 32.GB * task.attempt, 'memory' ) }
  }

  withName: FASTQ_SCREEN {
	cpus = { check_max( 7 * task.attempt, 'cpus' ) }
	memory = { check_max( 8.GB * task.attempt, 'memory' ) }
	time = { check_max( 2.h * task.attempt, 'time' ) }
	container = "docker://quay.io/biocontainers/fastq-screen:0.14.0--pl5262hdfd78af_1"
  }

}



