params.scratch = true

// Process setting

process {

  // Global cluster parameters
  cpus = { check_max( 1 * task.attempt, 'cpus' ) }
  memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  time = { check_max( 2.h * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus in [143,137,140,7] ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
 
  // Specific cluster parameters for each process

  withLabel: 'multiqc' {
	container = "docker://quay.io/biocontainers/multiqc:1.13a--pyhdfd78af_1"
  }
  withLabel: 'fastqc' {
	container = "docker://quay.io/biocontainers/fastqc:0.11.9--hdfd78af_1"
  }  
  withLabel: 'fastp' {
	container = "docker://quay.io/biocontainers/fastp:0.23.2--hb7a2d85_2"
  }
  withName: FASTP {
	cpus = { check_max( 6 * task.attempt, 'cpus' ) }
        memory = { check_max( 16.GB * task.attempt, 'memory' ) }
        time = { check_max( 30.min * task.attempt, 'time' ) }
  }
  withName: DADA2_RUEHLEMANN {
	cpus =  20
	time = { check_max( 4.h * task.attempt, 'time' ) }
	memory = { check_max( 16.GB * task.attempt, 'memory' ) }
  }
  withName: BIOBLOOM_CATEGORIZER {
        cpus = { check_max( 10 * task.attempt, 'cpus' ) }
        memory = { check_max( 32.GB * task.attempt, 'memory' ) }
        time = { check_max( 20.min * task.attempt, 'time' ) }
  }

  withName: FASTQ_SCREEN {
	cpus = { check_max( 10 * task.attempt, 'cpus' ) }
	memory = { check_max( 16.GB * task.attempt, 'memory' ) }
	time = { check_max( 10.min * task.attempt, 'time' ) }
	//container = "docker://quay.io/biocontainers/fastq-screen:0.15.2--pl5321hdfd78af_0"
  }

}



