// Job paramaters to set for this environment

params {
	max_memory = 250.GB
	max_cpus = 20
	max_time = 240.h
	maxMultiqcEmailFileSize = 25.MB
	fastq_screen_config = "/work_ifs/ikmb_repository/databases/FastQ_Screen_Genomes/fastq_screen_bwa.conf"
	filter_folder = "/work_ifs/ikmb_repository/databases/bloomfilter/ngs-qc"
	bloomfilter = "$filter_folder/Contaminants.bf $filter_folder/Arabidopsis_thaliana.bf $filter_folder/Drosophila_melanogaster.bf $filter_folder/Escherichia_coli.bf $filter_folder/Lambda.bf $filter_folder/Mitochondria.bf $filter_folder/Human.bf $filter_folder/Mouse.bf $filter_folder/PhiX.bf $filter_folder/Rat.bf $filter_folder/rRNA.bf $filter_folder/Vectors.bf $filter_folder/Worm.bf $filter_folder/Yeast.bf"
}

// Resource manager settings

executor {
  queueSize=100
}

// Process setting

process {
  
  executor = 'slurm'
  queue = 'htc'
 
}

singularity {
 enabled = true
 runOptions = "-B /mnt -B /work_ifs -B /scratch"
 cacheDir = "/work_ifs/ikmb_repository/singularity_cache"
}



