params {

	amplicons {
		'V1V2' {
			trunlen = 230
			trim = 5
			maxEE = 2
		}
		'V3V4' {
			forward = "CCTACGGGAGGCAGCAG"
			reverse = "GGACTACHVGGGTWTCTAAT"
			trunlen = 260
			trim = 5
			maxEE = 2
		}
		'Archaea' {
			forward = "CAGCMGCCGCGGTAA"
                        reverse = "GGACTACVSGGGTATCTAAT"
                        trunlen = 250
                        trim = 5
                        maxEE = 2
                }
		'Fungi' {
                        trunlen = 230
                        trim = 5
                        maxEE = 4
                }
			

	}   
}
