params {

	amplicons {

		'V1V2' {
			trunclenf = 230
			trunclenr = 180	
			trim = 5
			maxEE = 2
		}
		'V3V4' {
			fwd = "CCTACGGGAGGCAGCAG"
			rev = "GGACTACHVGGGTWTCTAAT"
			trunclenf = 260
			trunclenr = 200
			trim = 5
			maxEE = 2
		}
		'Archaea' {
			fwd = "CAGCMGCCGCGGTAA"
                        rev = "GGACTACVSGGGTATCTAAT"
                        trunclenf = 250
			trunclenr = 200	
                        trim = 5
                        maxEE = 2
                }
		'Fungi' {
                        trunclenf = 230
			trunclenr = 150
                        trim = 5
                        maxEE = 4
                }
			

	}   
}
